annotated-types==0.7.0
asttokens==2.4.1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
docker-pycreds==0.4.0
efficientnet-pytorch==0.7.1
executing==2.1.0
filelock==3.13.1
findiff==0.12.1
fire==0.7.0
fonttools==4.55.3
fsspec==2024.2.0
fugashi==1.3.2
gitdb==4.0.11
GitPython==3.1.43
huggingface-hub==0.25.1
idna==3.10
imageio==2.36.0
imgaug==0.4.0
ipykernel==6.29.5
ipython==8.28.0
jaconv==0.4.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
lazy_loader==0.4
loguru==0.7.2
lxml==5.3.0
manga-ocr==0.1.12
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
mecab-python3==1.0.10
mokuro==0.2.1
mpmath==1.3.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.3
opencv-python==4.10.0.84
packaging==24.1
parso==0.8.4
pillow==10.2.0
pip==24.3.1
platformdirs==4.3.6
progressbar==2.5
prompt_toolkit==3.0.48
protobuf==5.29.2
psutil==6.1.0
pure_eval==0.2.3
pyclipper==1.3.0.post5
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.18.0
pyparsing==3.2.0
pyperclip==1.9.0
python-dateutil==2.9.0.post0
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
sentry-sdk==2.19.2
setproctitle==1.3.4
setuptools==65.5.0
shapely==2.0.6
six==1.16.0
smmap==5.0.1
softadapt==0.0.5
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tokenizers==0.20.0
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchsummary==1.5.1
torchvision==0.19.1+cu118
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.45.1
typing_extensions==4.12.2
ujson==5.10.0
unidic-lite==1.0.8
urllib3==2.2.3
wandb==0.19.1
wcwidth==0.2.13
win32-setctime==1.1.0
xmljson==0.2.1
yattag==1.16.0
